@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    font-family: "Anta", sans-serif;
    background-color: #F38181;
}

#character-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EAFFD0;
    font-size: 48px;
}

.subtitle {
    color: #EAFFD0;
    font-size: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}

.character-card {
    box-sizing: border-box;
    background-color: #FCE38A;
    width: 180px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #EAFFD0;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.character-card img {
    height: 80px;
}

input {
    display: none;
}