@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
    font-family: "Anta", sans-serif;
    background-color: #F38181;
}

#character-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #EAFFD0;
    font-size: 48px;
}

.subtitle {
    color: #EAFFD0;
    font-size: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}

.character-card {
    box-sizing: border-box;
    background-color: #FCE38A;
    width: 180px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.character-card img {
    height: 80px;
}

input {
    display: none;
}

input:hover + label{
    border: 2px solid #EAFFD0
}

input:checked + label{
    background-color: #95E1D3;
    color: black
}

#button-select-character {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: #EAFFD0;
    font-family: "Anta", sans-serif;
    margin-top: 20px;
}

#attack-selection {
    flex-direction: column;
    align-items: center;
}

.button-attack {
    background-color: white;
    width: 112px;
    height: 36px;
    border-radius: 8px;
    font-family: "Anta", sans-serif;
}

#messages {
    width: 312px;
    padding: 16px;
    background-color: #FCE38A;
    border-radius: 16px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-restart {
    background-color: #95E1D3;
    border: 2px solid white;
    border-radius: 12px;
    width: 200px;
    padding: 8px;
    color: black;
    font-family: "Anta", sans-serif;
}

.attacks {
    gap: 20px;
    display: grid;
    grid-template-columns: 100px 100px;
}

#character-selected-lives, #enemy-character-lives {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 12px 0px;
}

#character-selected, #enemy-character {
    text-align: center;
    font-size: 20px;
    margin: 12px 0px;
}

#attack-buttons {
    display: flex;
    gap: 10px;
}

@media (max-width: 640px) {
    .cards {
        flex-direction: column;
    }
    
    #attack-buttons {
        flex-direction: column;
    }
}